<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Not iTunes</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>
</head>

<body>

<h1>Not iTunes</h1>

<div id="menu_area">
    <img th:src="@{/images/list_top_wide.png}" alt="list top"/>
    <ul class="triangles">
        <li>Search tracks</li>
        <ul>
            <form th:action="@{/search}" method="GET">
                <input th:name="query" th:required="required">
                <button type="submit">Search</button>
            </form>
        </ul>
        <li>Artists</li>
        <ul>
            <li th:each="artist: ${randomInfoObject.artists}" th:text="${artist}"></li>
        </ul>
        <li>Songs</li>
        <ul>
            <li th:each="song: ${randomInfoObject.songs}" th:text="${song}"></li>
        </ul>
        <li>Genres</li>
        <ul>
            <li th:each="genre: ${randomInfoObject.genres}" th:text="${genre}"></li>
        </ul>
    </ul>

</div>
<br/><br/>

<br/>

<p>Adapted from <a href="http://css-tricks.com">CSS-Tricks.com</a></p>

</body>

</html>