<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Not iTunes</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>
</head>

<body>

<h1>Search Results</h1>

<div id="menu_area">
    <img th:src="@{/images/list_top_wide.png}" alt="list top"/>
    <ul class="triangles">
        <li>Results</li>
        <ul th:each="result: ${results}">
            <b>
                <li th:text="'Title: ' + ${result.track}"></li>
            </b>
            <li th:text="'Artist: ' + ${result.artist}"></li>
            <li th:text="'Album: ' + ${result.album}"></li>
            <li th:text="'Genre: ' + ${result.genre}"></li>
            <li></li>
        </ul>
    </ul>
</div>
<br/><br/>
<p>Adapted from <a href="http://css-tricks.com">CSS-Tricks.com</a></p>

</body>
</html>